.row
  .col-md-2
  .col-md-8
    %h1 Listing products
.row
  .col-md-2
  .col-md-8
    %table.table.flatTable
      %tr.headingTr
        %th Title
        %th Description
        %th Price
        %th
        %th
        %th

      - products.each do |product|
        %tr
          %td= product.title
          %td= product.description
          %td= product.price
          %td
            -if current_user.id == product.user_id 
              = link_to 'Show', category_product_path(product.category, product), :class => "btn btn-primary "
          %td
            -if current_user.id == product.user_id 
              = link_to 'Edit', edit_category_product_path(product.category, product), :class => "btn btn-info "
          %td
            -if current_user.id == product.user_id 
              = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning "

%br
